#booking{
    width:100%;
}
.profile{
    width:25%;
    display: inline-block;
    margin-left:7%;
}
.booking-info{
    float:right;
    /* display: inline-block; */
    width:50%;
    margin-top:25px;
    margin-right:7%;
    
    /* display: inline-block; */
}
.panel-danger{
    width:100%;
    height:530px;
}
@media scree and(max-width:576){
    .profile{
        width:100%;
    }
    .booking-info{
        margin-top:20%;
        margin-left:20%;
    }
}