.navbar{
    border-radius:0;
    border:none;
    margin-bottom:0px;
}
.navbar-default{
    background-color:white;
    width:100%;
}
.nav-item{   
    margin:0%;
    font-size:18px;
}
.navbar-default .navbar-nav>li>a {
    color: black;
}
.navbar-nav{  
    width: 100%
}
.form-control{
    margin-top:3.8%;
}
li{
    text-decoration: none;
}